html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /*background-color: #e5e5e5;
  color: #5e5e5e;*/
  font-size: 25px;
  font-family: 'Lobster', cursive;
}
.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background-image:
  linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("http://i.ebayimg.com/images/g/pvIAAOSw-0xYQcWH/s-l1600.jpg");
  display: table;
  top: 0;
  background-size: cover;
  /*background: url(http://i.ebayimg.com/images/g/pvIAAOSw-0xYQcWH/s-l1600.jpg) no-repeat 50% 50%;*/
}

.intro .inner{
  display: table;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.content h1{
  color: white;
  margin-top: 15%;
}

table {
  margin-left: 5px;
}

th,td {
  padding: 15px;
  text-align: left;
}

.btn{
  border-radius: 9px;
  border: solid;
}
.btn:hover{
  color: white;
}

.links{
  margin-left: 400px;
}
a {
  margin-left: 20px;
  color: red;
}
/*.form-control {
  width: 50%;
}*/
/*h1
{
  text-align: center;
}*/

/*nav{*/
  /*text-align: center;*/
  /*margin-left: 40%;
  font-size: 30px;
}
.home{
  font-size: 25px;
  font-weight: bold;
}
i{
  color : green;
}
tbl {
  font-size: 20px;
}*/
