@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h1>Add a venue</h1>
  </div>
</div>


  <form action="/venue/view-all" class="form-group" method="post">
    <label for="venue-name">Venue Name:</label>
    <input type="text" name="venue-name" class="form-control">
    <button type="submit" class="btn btn-info" name="button">Add a Venue</button>
  </form>

  <a href="/">Home Page</a>
