@{
  Layout = "_Layout";
}


<h1>All Bands</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Played Venues</th>
    <th>Add Venues</th>
  </tr>
  @foreach (var band in Model)
  {
    <tr>
      <td>@band.GetId()</td>
      <td>@band.GetBandName()</td>
      <td>

          @foreach (var venue in @band.GetVenues())
          {
            @venue.GetVenueName()<br>
          }

      </td>
      <td><a href="/band/@band.GetId()/venues/add">Add a Venue</a></td>
    </tr>
  }
</table>

<a href="/band/add">Add a Band</a> <br>
<a href="/">Home Page</a>
