@{
  Layout = "_Layout";
}

<h1>Band Tracker</h1>

<a href="/band/add">Add a Band</a><br>
<a href="/band/view-all">View All Bands</a><br>
<a href="/venue/add">Add a Venue</a><br>
<a href="/venue/view-all">View All Venues</a>
