@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h1>All Venues</h1>
  </div>
</div>

<table>
  <tr>
    <th>id</th>
    <th>Venue Name</th>
    <th>All Bands</th>
    <th>Add a Band</th>
  </tr>
  @foreach (var venue in Model)
  {
    <tr>
      <td>@venue.GetId() </td>
      <td>@venue.GetVenueName() <a href="/venue/@venue.GetId()/edit">Edit</a> | <a href="/venue/@venue.GetId()/delete">Delete</a></td>
      <td>
          @foreach (var band in @venue.GetBands())
          {
            @band.GetBandName()<br>
          }
      </td>
      <td><a href="/venue/@venue.GetId()/bands/add">Add band</a></td>
    </tr>
  }
</table>

<a href="/venue/add">Add a Venue</a> <br>
<a href="/">Home Page</a>
<br>
<br>
