@{
  Layout = "_Layout";
}

<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h1>Edit a Venue</h1>
  </div>
</div>

<body>
  <div class="container-fluid">

    <h2>Edit Details of @Model.GetVenueName()</h2> <br>
    <form action="/venue/@Model.GetId()/edit" method="post">
      <label for="venue-name">Name:</label>
      <input type="text" name="stylist-name" value="@Model.GetVenueName()">
      <button type="submit">Update</button>
    </form>
    <br>
    <h4><a href="/">Return home</a></h4>
  </div>
</body>
